# OSX# OSX

.DS_Store#

.DS_Store

# Xcode

build/# Xcode

*.pbxuser#

!default.pbxuserbuild/

*.mode1v3*.pbxuser

!default.mode1v3!default.pbxuser

*.mode2v3*.mode1v3

!default.mode2v3!default.mode1v3

*.perspectivev3*.mode2v3

!default.perspectivev3!default.mode2v3

xcuserdata*.perspectivev3

*.xccheckout!default.perspectivev3

*.moved-asidexcuserdata

DerivedData*.xccheckout

*.hmap*.moved-aside

*.ipaDerivedData

*.xcuserstate*.hmap

**/.xcode.env.local*.ipa

*.xcuserstate

# Android/IntelliJ# OSX

build/#

.idea.DS_Store

.gradle

local.properties# Xcode

*.iml#

*.hprofbuild/

.cxx/*.pbxuser

*.keystore!default.pbxuser

!debug.keystore*.mode1v3

.kotlin/!default.mode1v3

*.mode2v3

# Node.js!default.mode2v3

node_modules/*.perspectivev3

npm-debug.log!default.perspectivev3

yarn-error.logxcuserdata

package-lock.json*.xccheckout

yarn.lock*.moved-aside

DerivedData

# React Native*.hmap

.expo/*.ipa

.expo-shared/*.xcuserstate

.metro-health-check***/.xcode.env.local



# Testing# Android/IntelliJ

/coverage#

build/

# Production.idea

/build.gradle

/distlocal.properties

*.iml

# Environment variables*.hprof

.env.cxx/

.env.local*.keystore

.env.development.local!debug.keystore

.env.test.local.kotlin/

.env.production.local

# node.js

# Bundle artifacts#

*.jsbundlenode_modules/

npm-debug.log

# CocoaPodsyarn-error.log

ios/Pods/package-lock.json



# VSCode# React Native

.vscode/#

.expo/

# Temporary files.expo-shared/

tmp/

temp/# Temporary files created by Metro to check the health of the file watcher

*.tmp.metro-health-check*

*.log

# testing

# Template specific/coverage

*.backup
# production
/build

# misc
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Bundle artifacts
*.jsbundle

# CocoaPods
ios/Pods/

# Expo
.expo/
web-build/
dist/

# Flipper
ios/Pods/

# VSCode
.vscode/

# Temporary files
tmp/
temp/

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
**/Pods/
/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# testing
/coverage

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.expo/
